################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MediaStudio
*.suo
*.user
_ReSharper.*
bin
obj
packages
/bin
/bin
*.dll
/bin/x64/Debug/net9.0-windows10.0.19041.0/win-x64/MediaStudio.dll
/bin/x64/Debug/net9.0-windows10.0.19041.0/win-x64/MediaStudio.exe
/bin/x64/Debug/net9.0-windows10.0.19041.0/win-x64/MediaStudio.pdb
/obj/x64/Debug/net9.0-windows10.0.19041.0/win-x64/ref/MediaStudio.dll
/obj/x64/Debug/net9.0-windows10.0.19041.0/win-x64/refint/MediaStudio.dll
/obj/x64/Debug/net9.0-windows10.0.19041.0/win-x64/apphost.exe
/obj/x64/Debug/net9.0-windows10.0.19041.0/win-x64/MediaStudio.AssemblyInfo.cs
/obj/x64/Debug/net9.0-windows10.0.19041.0/win-x64/MediaStudio.AssemblyInfoInputs.cache
/obj/x64/Debug/net9.0-windows10.0.19041.0/win-x64/MediaStudio.dll
/obj/x64/Debug/net9.0-windows10.0.19041.0/win-x64/MediaStudio.pdb
/obj/x64/Debug/net9.0-windows10.0.19041.0/win-x64/MediaStudio.sourcelink.json
/.vs/ProjectEvaluation/mediastudio.metadata.v9.bin
/.vs/ProjectEvaluation/mediastudio.projects.v9.bin
/.vs/ProjectEvaluation/mediastudio.strings.v9.bin
/.vs/MediaViewer/copilot-chat/1afc36b7/sessions
/.vs/MediaViewer/CopilotIndices
/.vs/MediaViewer/DesignTimeBuild
/.vs/MediaViewer/FileContentIndex
/.vs/ProjectEvaluation
*.v2
/.vs/MediaViewer/v18/DocumentLayout.backup.json
/.vs/MediaViewer/v18/DocumentLayout.json
/.vs/Media-Studio.slnx/v18
/.vs
/.vs/VSWorkspaceState.json
/AppPackages
/BundleArtifacts
/Dependencies/ffmpeg.exe
/Dependencies/ffprobe.exe
